@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nome {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.fundo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
}

.calculadora {
    color:black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding:15px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    text-align: center;
}

table {
    display: flex;
}

.botao {
    color:rgb(117, 117, 117);
    width:50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    border: none;
    font-size:20px;
    transition: 0.2s;
    cursor:pointer
}

.botao:hover {
    background: linear-gradient(145deg, #dbdbdb, #c4c4c4);
    color: rgb(56, 56, 56);
}

.botao:active {
    background: #bfbfbf;
    box-shadow: inset 5px 5px 7px #999999,
            inset -5px -5px 7px #e5e5e5;
}

#resultado {
    width:207px;
    height:40px;
    align-self: center;
    margin:10px;
    background: linear-gradient(145deg, #f9f9f9, #d2d2d2);
    box-shadow:  10px 10px 20px #bababa,-10px -10px 20px #ffffff;
    border-radius: 5px;
    color:rgb(56, 56, 56);
    font-size: 30px;
    text-align: right;
    padding: 5px;
}


